---
on:
  pull_request:
    branches: [ recette ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies and build
        run: |
          npm install
          npm run build
  test:
   runs-on: ubuntu-latest
   needs: build
---
on:
  pull_request:
    branches: [ recette ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies and build
        run: |
          npm install
          npm run build
  test:
   runs-on: ubuntu-latest
   needs: build
   steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          npm install
          npm install request
      - name: Run tests
        run: npm run test
      - name: Login to Docker
        run: docker login ghcr.io -u sophieaccount -p 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
      - name: Build and deploy Docker image
        run: |
          docker build -t ghcr.io/sophieaccount/nodejs-my-website:latest ./
          docker-compose up
'on': [ push ]