---
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies and build
        run: |
          npm install
          npm run build
  test:
   runs-on: ubuntu-latest
   needs: build
   steps:
     - uses: actions/checkout@v3
     - run: |
        npm i
        npm i request
        npm run test
'on': [ push ]